<%- include('partials/navbar') %>
    <div class="team">
        <h1>OUR TEAM</h1>
        <div class="team_row">
            <% teamData[0].map(card => { %>
                <figure class="snip0078 hover blue">
                    <img src="/Assets/<%= card.img %> " alt="sampl45" />
                    <figcaption>
                        <% const fullName = card.name.split(" "); %>
                        <h2> <%= fullName[0]%> <span><%= fullName[1]%></span></h2> %> 
                      <p><%= card.post %></p>
                      <i class="fa-brands fa-linkedin-in"></i>
                    </figcaption>
                    <a href="<%= card.linkedIn %>"></a>
                  </figure>
            <% }) %> 
        </div>
        <h1>Vice Presidents</h1>
        <div class="team_row">
            <% teamData[1].map(card => { %>
                <figure class="snip0078 hover blue">
                    <img src="/Assets/<%= card.img %> " alt="sampl45" />
                    <figcaption>
                        <% const fullName = card.name.split(" "); %>
                        <h2> <%= fullName[0]%> <span><%= fullName[1]%></span></h2> %> 
                      <p><%= card.post %></p>
                      <i class="fa-brands fa-linkedin-in"></i>
                    </figcaption>
                    <a href="<%= card.linkedIn %>"></a>
                  </figure>
            <% }) %> 
        </div>
        <h1>Core Team</h1>
        <div class="team_row">
            <% teamData[2].map(card => { %>
                <figure class="snip0078 hover blue">
                    <img src="/Assets/<%= card.img %> " alt="sampl45" />
                    <figcaption>
                        <% const fullName = card.name.split(" "); %>
                        <h2> <%= fullName[0]%> <span><%= fullName[1]%></span></h2> %> 
                      <p><%= card.post %></p>
                      <i class="fa-brands fa-linkedin-in"></i>
                    </figcaption>
                    <a href="<%= card.linkedIn %>"></a>
                  </figure>
            <% }) %> 
        </div>
    </div>
    <%- include('partials/footer') %>